<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    <script src="static/js/content.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
    <title>{{ title }}</title>
</head>

<body>
    <div class="header">
        <div class="navigation">
            <a href="{{ url_for('home.home')}}">Main</a>
            <a href="{{ url_for('dashboard.dashboard')}}">Dashboard</a>
        </div>
    </div>

    {% block body %}
    {% endblock %}

    <div class="about">
        <a href="https://github.com/dyeroshenko/url-uptime-status" target="_blank">About</a>
    </div>
</body>

</html>