{% extends 'base.html' %}
{% block title %} <title>login</title> {% endblock %}
{% block content %}
<header class="w3-container w3-blue w3-center" style="padding:158px 18px; margin-top:auto;">
    <h1 class="w3-margin w3-jumbo">Invoice Generator</h1>
    <form id="login" action="#" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required><br>
        <button class="w3-container w3-button w3-grey w3-padding-large w3-large">Login</button>
    </form>
</header>
{% endblock %}
