body {
    overflow-x: hidden;
}

form {
    margin: 5rem auto;
    width: 90%;
    max-width: 40rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: transparent;
    overflow: hidden;
}

.single-form-style {
    color: gold;
    font-weight: bold;
}

.errorlist {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: #680000;
}

.errors input {
    border-color: #680000;
    background-color: #fde3e3;
}

.errors label {
    color: #680000;
}